<app-headertwo></app-headertwo>
<div class="bg-[#968A71]">
    <div class="relative w-full font-['Alegreya_Sans'] text-white">
        <div class="absolute inset-0 w-full bg-[#9D9178] bg-opacity-90 ">
            <div class="flex flex-col mx-auto justify-center items-center text-center pt-44 ">
                <h1 class="text-3xl">
                    About Delorian Hotel
                </h1>
            </div>
        </div>
        <img src="https://images.pexels.com/photos/2844474/pexels-photo-2844474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            class="bg-contain w-full h-[30rem]" />
    </div>
</div>
<div class="container mx-auto flex justify-center my-5">
    <div class="w-2/3 items-center p-8 text-[#828282] font-['Work_Sans'] text-center">
        <p class="py-2">Welcome to our hotel website! We are thrilled to have you here and are excited to share with you all that our
            hotel has to offer.</p>
        <p class="py-2">Our hotel is more than just a place to stay; it's an experience. From our luxurious accommodations to our
            exceptional customer service, we strive to provide our guests with an unforgettable stay. Our team is
            dedicated to ensuring that every aspect of your visit is top-notch. Whether you're here for business or
            pleasure, we have everything you need to make your stay comfortable and convenient.</p>
        <p class="py-2">At our hotel, we take pride in providing our guests with a unique and personalized experience. From our
            modern amenities to our delicious dining options, we have something for everyone.</p>
        <p class="py-2">So why not book your stay with us today? We guarantee that you won't be disappointed!</p>
    </div>
</div>
<app-footer></app-footer>