<nav class="px-2 bg-#FFF border-gray-200 dark:bg-gray-900 dark:border-gray-700 bg-[#FCFAEE]">
    <div class="container flex flex-wrap items-center justify-between mx-auto py-2">
        <a href="#" class="flex items-center">
            <img src="/assets/Beige_and_Gold_Minimalist_Hotel___Resort_Logo_-removebg-preview.png" height="120px"
                width="100px" class=" ml-5" alt="Flowbite Logo" />

        </a>

        <div class="hidden w-full md:block md:w-auto " id="navbar-dropdown">
            <ul
                class="flex flex-col font-['Arial'] p-4 mt-4 border  border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-[#FCFAEE] dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li class="bg-[#FCFAEE]">
                    <a routerLink="" class="block py-2 pl-3 pr-4 text-[#9D9178]" aria-current="page">Home</a>
                </li>
                <li>
                    <a routerLink="/rooms" class="block py-2 pl-3 pr-4  text-[#9D9178] ">Rooms</a>
                </li>
                <li>
                    <a routerLink="/contact" class="block py-2 pl-3 pr-4  text-[#9D9178]">Contact</a>
                </li>
                <li>
                    <a routerLink="/about" class="block py-2 pl-3 pr-4  text-[#9D9178]">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>